
<title>My application deployed automatically</title>

<h2> This is a code that makes some operations described below; It takes String array, int and String as a parameter. Find how much given word is repeated in the string array and then it compares with the given integer. </h2>

<h3> First space takes array list of strings, second one takes a word that will be compared and third one takes an integer </h3>

<h3> If the given int is larger than the number of the words existance, it prints 1, if equal it prints 0, otherwise it prints -1 </h3>

  <h1>Hello, World!</h1>
    Result is {{result}}

<h1> 

</h1>

  <form action="compute" method="post">
        <textarea name="input1" rows="10" cols="30">
        </textarea>
        <textarea name="input2" rows="10" cols="30">
        </textarea>
	<textarea name="input3" rows="10" cols="30">
        </textarea>
        <br>
        <input type="submit">
  </form>


